/*** 自定义样式 */
.emdV4Dialog.el-dialog{
  border-radius: 10px;
  padding: 0;
}

.emdV4Dialog .el-dialog__header {
  padding: 0;
  margin: 0;
  border-radius: 10px 10px 0 0;
  @apply px-6 py-4 bg-cprimary-600 text-white;
}

.emdV4Dialog .el-dialog__body {
  padding: 0;
}

.emdV4Dialog .el-dialog__footer {
  padding: 0 16px 14px 16px;
}

/** 统一弹框样式 */
.c-message-box {
  padding: 0;
  @apply rounded-lg; 
}

.c-message-box .el-message-box__header {
  @apply px-6 py-4 bg-cprimary-600 text-white flex justify-between items-center;
  
  .el-message-box__title {
    @apply text-white;
  }
  
  .el-message-box__headerbtn {
    .el-message-box__close {
      color: white;
    }
  }
}

.c-message-box .el-message-box__content {
  @apply px-4 py-2 text-gray-500;
}

.c-message-box .el-message-box__btns {
  @apply px-4 pt-0 pb-2 flex justify-end;
}